#navbar{
    display: flex;
    gap: 25%;
}
#container1{
    display: flex;
    gap: 2%;
}
.skill{
    color: #233860;
    margin-top: 7%;
}
.hero{
    color: #E83755;
}
body{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container2{
    padding: 10px;
    display: flex;
    gap: 30%;
}
.home{
    color: #E83755;
}
.b1{
    color: #C3D0E1;
}
#container3{
    display: flex;
    gap: 30%
}
.button1{
    width:200px ;
    border-radius: 50px;
    border: solid 2px #E83755;
    color: #E83755;
    
}
.button2{
    width:200px ;
    border-radius: 50px;
    background-color: #E83755;
    color: white;
    border: solid #E83755;
}
.b2{
    font-size: 50px;
    color: #233860;
    padding: 20px;
}
.span2{
    color: #E83755;
}
.span3{
    color: #AFC1D6;
    padding: 20px;
    font-size: 20px;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 50px;
    border: solid 1px grey;
    padding-left: 2%;
}

#input{
    margin: 0 1%;
}
.button3{
    width: 150px ;
    height: 40px;
    border-radius: 50px;
    background-color: #E83755;
    color: white;
    border: solid 1px #E83755   ;
}
#subscription{
    display: flex;
}
.tick{
    font-size: 30px;
    color: #AFC1D6;
}
#main{
    display: flex;
    gap: 10%;
}
#logos{
    display: flex;
    gap: 15%;
    padding: 0 15%;
}
.logo1{
    width:150px ;
    height: 100px;
}
.logo2{
    width:110px ;
    height: 100px;
}
.logo3{
    width:150px ;
    height: 90px;
}
